body {
    padding-top: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 20px;
}

.content {
    background-color: #fff;
    padding: 20px 0;
}


.action {
    padding: 10px;
    display: inline-block;
    background-color: rgb(103, 103, 255);
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
}

.action.actionLow {
    background-color: transparent;
    text-decoration: underline;
    color: #404040;
    padding: 5px;
}

ul.list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid silver;
}
ul.list>li {
    padding:10px 20px;
    border-bottom: 1px solid silver;
}

ul.list>li:nth-child(odd) {
    background-color: rgb(252, 252, 252);
}

ul.list.shortCuts {

}

ul.shortCuts li.shortcut .shortcutDescription {
    margin: 10px 0px;
    display: block;
}

ul.list.shortCuts .appName {
    font-weight: bold;
    font-size: 150%;
    display: block;
}

ul.list.shortCuts ul.optionsList {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;

}
ul.list.shortCuts ul.optionsList li{


}
ul.list.shortCuts ul.optionsList li label{
    font-weight: bold;
    padding-right: 5px;
}
ul.list.shortCuts ul.optionsList li span.help{
    display: block;
    font-style: italic;
    font-size: 50%;
}




.header {
    padding: 10px 0px;
    position: relative;
    height: 250px;
    overflow: hidden;
}

.header .headerBg {
    width: 140%;
    height: 250px;
    position: fixed;
    top: 0;
    background-size: cover;
    background-position: -2px 0;
    -webkit-filter: blur(9px) grayscale(40%);
    z-index: -1;

}

.header .headerIcon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    -webkit-mask-image: url('../img/icon-mask.png');
    -webkit-mask-size: 75px;
    -webkit-mask-position: center;
    -webkit-mask-composite: initial;
}
.header h1{
    margin-bottom: 5px;
    position: absolute;
    bottom: 4px;
    z-index: 1;
    color: #E7E7E7;
    text-shadow: 2px 2px 1px #000;
    left: 0px;
    font-weight: normal;
}

.header h3 {
    margin: 20px 0;
    color: rgb(139, 139, 139);
}


.header img.appIcon.mediumSize {
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 20px;
    bottom: 5px;
    z-index: 1;
}

.header .fade-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: black;
    opacity: 0.3;
}

.header.home {
    background-position: top center;

}

.header.home h3{
    position: absolute;
    right: 5px;
    text-shadow: 2px 2px 5px #fff;
    bottom: 55px;
    color: rgb(51, 49, 49);
    font-size: 11px;
}

.header.home .headerBg {
    -webkit-filter: blur(0);
    width: 100%;
    background-size: 90%;
    background-position: center 70px;
    background-repeat: no-repeat;
    background-color: silver;
}

.homeMessage {
    margin: 10px 20px;
    font-size: 20px;
}

.homeMessage span {
    color: #7A7878;
}

.content h2, .content h3 {
    margin: 10px 20px;

}

.shortCutActions .btn {
    font-size: 12px;
}

#popularAppsList .allApps {
    clear: both;
    display: block;
    text-align: right;
}
